<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mều</title>
    <style>
        html {
            background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgb(194, 1, 253) 100%);
        }

        h1 {
            text-align: center;
            font-size: 300px;
            margin-top: 150px;
            color: white;
        }
    </style>
</head>

<body>
    <h1>I'm Mều</h1>
</body>

</html>